bin/
build/
dbfiles/
datas/
.vscode/
.idea/
.cache/
cmake-build-debug/
cmake-build-release/
glog-build/
googletest-build/
CMakeFiles/
*.user
*.sql
*.doc
*.docx
test/sqls/minisql/.DS_Store
release/
