bin/
debug/
release/
sources/
.vscode/
.idea/
.cache/
cmake-build-debug/
cmake-build-release/
glog-build/
googletest-build/
CMakeFiles/
*.user
*.sql
*.doc
*.docx
test/sqls/minisql/.DS_Store
archive/
.vs/
*.zip
*.drawio
*.dot
*.bkp
*.gz
*.toc
*.aux
*.log
CMakeList.txt
